.shukriya{
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    color: white;
    background: linear-gradient(rgb(255, 255, 132), rgb(255, 134, 154), rgb(254, 141, 254), rgb(0, 255, 255));
    border: 8px solid pink;
}
.Saidasor{
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    color: white;
    background: linear-gradient(yellow, blue, grey, lime, aqua, orange, black, grey);
    border: 8px solid yellow;
}
.bbody{
    display: flex;
    gap: 20px;
    border: 20px solid rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}